/APIAdapter.class
/AlertModule.class
/App.class
/DetectionModule.class
/GUIModule.class
/HelloFX.class
/HiddenLayer.class
/Image.class
/InputLayer.class
/Layer.class
/Network.class
/OutputLayer.class
/SigmoidUnit.class
